html,body{
    margin:0;
    padding:0;
}

.root-container{
    padding:15px 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{margin:0;}

    header{
        align-self: flex-start;
        flex-shrink: 0;
        height:8vh;
        display: flex;
        align-items: center;
    }

    header p{
        color: #333333;
        font-family: Inconsolata;
        font-size: 1.1rem;
        line-height: 25px;
        font-weight: bold;
        letter-spacing: -0.08em;
        text-transform: uppercase;
}

section{
    width:100%;
    height:80vh;
    flex: 1 0 auto;
    font-family: SpaceMono;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section div.half{
    display: flex;
    align-items: center;
    justify-content: center;
}
section .image-container{
    min-height:200px;
    max-width:550px;
    width:100%;
}

section div img{
    height:100%;
    width:100%;
    object-fit: contain;
}

section div.second{
    flex-direction: column;
    align-items: flex-start;
    margin-left:15px;
}

h3, div.second p, button{margin:25px;}

section div.second h3{
    font-family: 'Space Mono';
    width:70%;
    font-weight: bold;
    font-size: 3.8vw;
    letter-spacing: -0.035em;
    color: #333333;
}

section div.second p{ font-family: 'Space Mono';font-size:1rem; width:310px;}

div.second button{
    font-family: 'Space Mono';
    background: #333333;
    font-weight: bold;
    font-size:0.7rem;
    line-height: 21px;
    letter-spacing: -0.01em;
    padding:18px 45px;
    text-transform: uppercase;
    color:white;
 
}

footer{
    display: flex;
        align-items: center;

    height:8vh;
    flex-shrink: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 17px;
/* identical to box height */
color: #333333;
}

  @media only screen and (max-width: 600px) {
  section div.second h3 {
    font-size: 2rem;
    text-align: center;
  }

  section div.second{
      align-items: center;
  }

  div.second p{
      text-align: center;
  }
  }