html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.root-container{
    display: flex;
    justify-content: center;
    align-items: ;
    min-height:100vh;
    min-width: 100%;
    background-color:#181719;
    color:white;
}

.view{
    align-self: start;
    background-color:#181719;
    min-height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding:0 80px;
}@media screen and (max-width: 875px) {
    .view{
        min-height: 100vh!important;
        padding:0 20px;
    }
}

header{
    flex-shrink: 0;
    height:5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 0;
}

header > p{
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 8px;
    border:1px solid white;
}

nav{
    width:47%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}@media screen and (max-width: 875px) {
    nav{
        width:initial;
    }
}

.nav-elements.web.active{
    border-bottom: 3px solid #e6af4c ;
    cursor: pointer;
    font-weight: bold;
}

.root-container .nav-elements.web:not(.active):hover{
    cursor: pointer;
    border-bottom: 2px dashed #e6af4c ;
}

.material-icons.menu.md-36 { 
    font-size: 36px; 
    cursor: pointer;
}@media screen and (min-width: 875px) {
    .material-icons.menu.md-36 {
        display:none;
    }
}

section{
    flex:1 0 auto;
    height:auto;
    padding-top: 60px;
    width: 100%;
}@media screen and (max-width: 875px) {
    section {
        padding-top: 0;
    }
}

.section-container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

section .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
}@media screen and (max-width: 875px) {
    section .description {
        width:100%;
        /*chnage*/
    }
}

section .description p{margin: 0;}

section .description div#break-down{
    flex-direction: column;
    align-items: center;   
}

div#break-down p{
    margin: 0;
}

section .description p:not(#read-more){
    margin-bottom:40px;
}@media screen and (max-width: 875px) {
    section .description p:not(#read-more){
        margin-bottom:20px;
    }
} 

section .description p:nth-child(1){
    font-family: 'Lora';
    font-size:3.2rem ;
    margin: 0;
}@media screen and (max-width: 875px) {
    section .description p:nth-child(1){
       font-size: 2.5rem;
       padding-top: 10px;
    }
} 

section .description p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width:58%;
    font-size: 1.2rem;
}@media screen and (max-width: 875px) {
    section .description p:nth-child(2){
        width:60%;
        font-size: 0.9rem;
    }
} 

section .description #read-more {
    width:auto;
    display: flex;
    align-items: center;
}

section .description #read-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.78rem;
    margin-right:8px;
}

section .picture{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:60%
}@media screen and (max-width: 875px) {
    section .picture {
        width:100%;
    }
}

section .picture-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-origin: content-box;
}@media screen and (max-width: 875px) {
    section .picture-div {
        margin-top: 2em;
    }
}

section .picture-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-bottom: 10px;
 }

 section .consultant-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width:300px;
    height:auto;
    position: relative;
    right: 20;
    bottom:70;
    background-color: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}@media screen and (max-width: 875px) {
    section .consultant-card {
        min-width:60%;
    }
}

 section .profile{display: flex; align-items: center;}

section .profile-pic{ 
    height:47px;
    width:47px; 
    margin:0 18px;
    border-radius: 50%;
}

section .profile-pic img{
    position: relative;
    border-radius: 50%;
    height:100%;
    width: 100%;
}

section .name {
    font-family: 'Montserrat', sans-serif;
}

.name p:nth-child(1){
    font-weight: 500;
    font-size: 13px;
    line-height: 10px;
}

.name p:nth-child(2){
    color:#828282;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
}

section .design{
    font-family: 'Lora';
    display:flex; 
    justify-content: flex-start;
    align-items:flex-start;
}

.design > p{
    margin:10px;
    margin-left: 18px;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: .5px;
}@media screen and (max-width: 875px) {
    .design > p{
        font-size: 16px;
    }
}

footer{
    flex-shrink: 0;
    height: 5vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.8rem;

}@media screen and (max-width: 875px) {
    footer{
        border-top:1px solid #A9A9A9;
    }
}

footer p{margin: 0;}

footer p a{
    margin: 0; 
    color:#e6af4c; 
    text-decoration: none;
}

/*mobile nav view*/
.mobile-nav{
    align-self: flex-end;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #181719;
    width:100%;
    min-height:100vh;
    transition: .5s;
    font-size: 0.95rem;
}

.mobile-nav p{margin: 0;}


.mobile-nav .clear-button{
    height: 6vh;
    padding: 17px 40px;
    display: flex;
    justify-content: flex-end;  
}

.mobile-nav .material-icons.clear.md-36 { 
    font-size: 36px; 
    cursor: pointer;
    align-self: flex-end;
    height:5vh;
}

.nav-elements-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
    font-size: 0.8rem;
}

.mobile-nav .nav-elements-container p{margin:25px;}

.mobile-nav .nav-elements-container .active{
    color:#e6af4c;
    font-weight: bold;
}

.mobile-nav .nav-elements.mobile:not(.active):hover{
    color: #e6af4c ;
}

/*to anite themobile menu*/
@-webkit-keyframes slide-left {
    0% { opacity: 0; -webkit-transform: translateX(100%); }   
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-left {
    0% { opacity: 0; -moz-transform: translateX(100%); }   
  100% { opacity: 1; -moz-transform: translateX(0); }
}
