html,body{
    margin:0;
    padding:0;
}

.root-container{
    display: flex;
    flex-direction: column;
    padding:0 100px;
    min-height:100vh;
}

p{margin: 0;}

header{
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
    grid-template-rows: ;
    grid-auto-flow: row;
}

header div{
    padding:20px;
}

header .creative-text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header .creative-text h2{
    font-family: 'PT serif';
    font-weight: bold;
    font-size:2rem;
    letter-spacing: -0.1rem;
}

header .block-of-text{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins';
}

header .block-of-text h4{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 1rem;
}

.block-of-text p{
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 0.8rem;
    width:80%;
}
section{
    flex:1 0 auto;
    height:auto;
}

.media{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: repeat(6, auto);
    padding:40px;
}

.media .picture-and-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:5px 0;
    transition: all 0.3s linear;
}

.media .picture-and-text:hover{
    transform: scale(1.1);
}

.picture-and-text .picture{
    height:285px;
    width:220px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

 .picture-and-text .picture img{
    height:100%;
    width:100%;
}

.media .two{
    margin-top: 80px;
}

.media .five{
    margin-top: 80px;
}

.label{
    width:auto;
    height:10px;
    transform-origin: top left;
    transform: rotate(90deg);
    margin-left: 20px;
}

.label p{
    font-size:0.6rem;
    font-family: PT Serif;
    text-transform: uppercase;
    width:110px;
    margin: 0;
    letter-spacing: -0.003rem;
}


.picture-and-text .name{ height:10px;width: 220px; display:flex; margin: 0 auto;padding: 10px 0}

.name span{align-self: start; font-family: 'Poppins'; font-weight: bold; font-size:0.75rem}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:5vh;
    flex-shrink: 0;
    font-size:0.8rem;
    font-family: Montserrat;
}

footer p{
    margin: 0;
}

footer p a{
    text-decoration: none;
    font-weight: bold;
    color:#2F80ED;
}

@media only screen and (max-width: 1299px) and (min-width: 960px ) {
    .media{
        grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
    }

        .root-container{
            padding:10px 50px;
            transition: all .5s;
        }
}

@media only screen and (max-width: 1030px) {
    .root-container{
        padding:10px 20px;
    }

    .media{
        grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
    }

    .media .four{
        margin-top: 80px;
    }

    .media .five{
        margin-top: 0;
    }

    .media .six{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 696px) {
    header .block-of-text{
        align-items: center;
    }

    .block-of-text p{
        text-align: center;
    }

   .media .two, .media .four, .media .six{
        margin-top: 0;
    }

    .picture-and-text{
        margin:30px;
    }
}